<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
  <ion-back-button defaultHref="/home"></ion-back-button>
</ion-buttons>

    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="clear-btn" *ngIf="favouriteHeroes.length > 0">
  <ion-button expand="block" color="danger" (click)="clearAll()">
    Clear All Favourites
  </ion-button>
</div>


  <ion-list *ngIf="favouriteHeroes.length > 0">

    <ng-container *ngFor="let hero of favouriteHeroes">
      <ion-item 
        button 
        detail 
        *ngIf="hero && hero.id"
        (click)="openHero(hero.id)"
      >
        <ion-avatar slot="start">
          <img [src]="hero.images?.sm" />
        </ion-avatar>

        <ion-label>
          <h2>{{ hero.name }}</h2>
          <p>{{ hero.biography?.publisher }}</p>
        </ion-label>
      </ion-item>
    </ng-container>

  </ion-list>

  <div *ngIf="favouriteHeroes.length === 0" class="empty">
    <p>No favourites yet</p>
  </div>

</ion-content>
