<ion-header>
  <ion-toolbar color="primary">
    <ion-title>SuperHero Viewer Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="button-container">
    <ion-button expand="block" (click)="goToHeroes()">
      View Heroes
    </ion-button>

    <ion-button expand="block" (click)="goToFavourites()" color="secondary">
      View Favourites
    </ion-button>

    <ion-button expand="block" (click)="goToSettings()" color="secondary">
      Settings
    </ion-button>
  </div>

  <h2 class="section-title">Popular Characters</h2>

  <div class="character-grid">
    <div 
      class="character-card"
      *ngFor="let hero of characters"
      (click)="openHero(hero.id)"
    >
      <img [src]="hero.images.sm" alt="{{ hero.name }}">
      <p>{{ hero.name }}</p>
    </div>
  </div>

</ion-content>
